.conversationList{
    padding: 10px 0px 10px 0px;
    margin-top: 5px;
    width: 100%;
}
.conversations:hover{
    background: #FFFFFF !important;
border-radius: 12px;
}
.conversations{
   margin-top: 0px;
   
}
.conversations{
    background: #F8FCFF;
    /* box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1); */
    
 }
#side-bar {
    height: 100vh;
    background: #F8FCFF;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1);
}
.cs-search__input{
   padding: 10px;
  
}

/* .cs-search{
    background-color: #F6FBFF;
} */
.loader{
    /* display: inline-block; */
    position: relative;
     top: 40%;
       left: 40%;
      width: 0px;
}
.imageLoader{
    width: 100%;
}

/* 
 .image{
     display: flex;
 margin-top: 120px;
    justify-content: center; 
    width: 70%;
    height: 300px;
    margin-left: 100px;
}  */
/* .welcome{
   
    width: 60%;
    display: flex;
    justify-content: end; 
   align-items: center;
  
    
} */

.activeName{
    text-align: center;
}
.dropdown-item{
    cursor: pointer;
}
     
 @media only screen and (max-width: 768px) { 
    .scrollbar-container.cs-sidebar.cs-sidebar--left.sidebar.ps {
         
    
       /* display: flex; */
       /* justify-content: center; */
      
       width: 100% !important;
       
    } 
    .scrollbar-container.cs-sidebar.cs-sidebar--left.sidebar.ps.ps--active-x {
       
             
        width: 100% !important;
     
       
        display: none;
        
     } 
   
   .image{
    display: none;
   }
     .loader {
   
     }
      .loader img{
      
      }
    }  
   
