.conversationList{
    padding: 10px 0px 15px 0px;
    margin-top: 10px;
    width: 100%;
}
.conversations{
   margin-top: 0px;
   
}
/* .sidebar {
   
    background-color: #ADD8E6;
    
}


.conversations{
   
    background-color: #ADD8E6;
}  */
.cs-search__input{
    background-color: #F6FBFF;
    padding: 15px;
  
}
.cs-search{
    background-color: #F6FBFF;
}
.loader{
    display: inline-block;
position: relative;
top: 40%;
left: 40%;
}
 .image{
     display: flex;
 margin-top: 120px;
    justify-content: center; 
    width: 70%;
    height: 300px;
    /* margin-left: 100px; */
}
.welcome{
   
    width: 60%;
    display: flex;
    justify-content: end; 
   align-items: center;
   /* margin-right: 50px; */
    
}


.sidebar {
    /* background-color: #F6FBFF; */
}
.conversations{
    /* background-color: #F6FBFF;   */





}
     
 @media only screen and (max-width: 768px) { 
    .scrollbar-container.cs-sidebar.cs-sidebar--left.sidebar.ps {
         
    
       /* display: flex; */
       /* justify-content: center; */
      
       width: 100% !important;
       
    } 
    .scrollbar-container.cs-sidebar.cs-sidebar--left.sidebar.ps.ps--active-x {
       
             
        width: 100% !important;
     
       
        display: none;
        
     } 
   
   .image{
    display: none;
   }
     
      
    }  
    @media only screen and (max-width: 768px){ 
        
 } 

